meta:
  engine: 4.1.0
  name: AFR-46
  author: Aaron Friedlein
  notes: A play on "A For effort"
units:
  # proxy Spacing Variables
  kx: cx
  ky: cy
  # padding Variables
  px: kx + 2
  py: ky + 2
  # fillet
  filletSize: 1.5
  # screw variables
  screwSize: 1 # M2 scews (2mm diameter=1mm radius)
  screwOffset: 1.2filletSize
  # shift variables for corners of PCB
  topLeftXShiftSkeleton: -0.65kx
  topLeftYShiftSkeleton: 0.65ky
  pinkyCornerXShiftSkeleton: 0.45kx
  pinkyCornerYShiftSkeleton: 0.65ky
  ringOuterCornerXShiftSkeleton: -0.6kx
  ringOuterCornerYShiftSkeleton: 0.65ky
  ringInnerCornerXShiftSkeleton: 0.45kx
  ringInnerCornerYShiftSkeleton: 0.65ky
  middleOuterCornerXShiftSkeleton: -0.6kx
  middleOuterCornerYShfit: 0.65ky
  middleInnerCornerXShiftSkeleton: 0.6kx
  middleInnerCornerYShfit: 0.65ky
  indexInnerCornerXShiftSkeleton: -0.45kx
  indexInnerCornerYShfit: 0.65ky
  topRightXShiftSkeleton: 1.8kx
  topRightYShiftSkeleton: 0.65ky
  thumbTopXShiftSkeleton: .15kx
  thumbTopYShiftSkeleton: 0.35ky
  thumbFarTopXShiftSkeleton: 0.8kx
  thumbFarTopYShiftSkeleton: ky
  thumbFarBottomXShiftSkeleton: 0.8kx
  thumbFarBottomYShiftSkeleton: -0.7ky
  thumbNearXShiftSkeleton: 0.65kx
  thumbNearYShiftSkeleton: -0.65ky
  centerCornerBottomXShiftSkeleton: -0.65kx
  centerCornerBottomYShiftSkeleton: -0.65ky
  centerCornerTopXShiftSkeleton: 0
  centerCornerTopYShiftSkeleton: 0.05ky
  bottomLeftXShiftSkeleton: -0.65kx
  bottomLeftYShiftSkeleton: -0.65ky
  #itll work
  threeMM: 3
  halfMM: 0.5

points:
  zones:
    matrix:
      anchor.shift: [50,-100]
      columns:
        outer:
          key.column_net: P2
        pinky:
          key.column_net: P3
        ring:
          #key.spread: 21
          key.stagger: 10
          key.column_net: P4
        middle:
          key.stagger: 5
          key.column_net: P15
        index:
          key.stagger: -5
          key.column_net: P16
        inner:
          key.column_net: P14
      rows:
        bottom:
          row_net: P8
        home:
          row_net: P6
        top:
          row_net: P5
    thumbfan:
      anchor:
        ref: matrix_inner_bottom
        shift: [-19, -22]
      columns:
        thumb1:
          rows:
            home:
              row_net: P9
          key.column_net: P16
        thumb2:
          rows:
            home:
              row_net: P9
          key.column_net: P14
        thumbStack:
          # TODO: column traces are still fucked
          rows:
            home:
              row_net: P9
            top:
              row_net: P8
          key:
            spread: 22
            splay: -20
            origin: [-30, -8]
            column_net: P10
        far:
          rows:
            home:
          key:
            spread: 21.25
            splay: -15
            origin: [-11, -2]
            column_net: P15
            row_net: P9
  # rotate: -10
outlines:
  keys:
    - what: rectangle
      where: true
      bound: false
      size: [kx-0.5,ky-0.5] # 
  switches: # only for testing layout
    - what: rectangle
      where: true
      bound: false
      size: [14,14]
  board:
    - what: polygon
      operation: stack
      fillet: filletSize
      points:
        - ref: matrix_outer_top
          shift: [topLeftXShiftSkeleton,topLeftYShiftSkeleton]
        - ref: matrix_pinky_top
          shift: [pinkyCornerXShiftSkeleton, pinkyCornerYShiftSkeleton]
        - ref: matrix_ring_top
          shift: [ringOuterCornerXShiftSkeleton,ringOuterCornerYShiftSkeleton]
        - ref: matrix_ring_top
          shift: [ringInnerCornerXShiftSkeleton,ringInnerCornerYShiftSkeleton]
        - ref: matrix_middle_top
          shift: [middleOuterCornerXShiftSkeleton,middleOuterCornerYShfit]
        - ref: matrix_middle_top
          shift: [middleInnerCornerXShiftSkeleton,middleInnerCornerXShiftSkeleton]
        - ref: matrix_index_top
          shift: [indexInnerCornerXShiftSkeleton,indexInnerCornerYShfit]
        - ref: matrix_inner_top
          shift: [topRightXShiftSkeleton,topRightYShiftSkeleton]
        - ref: matrix_inner_bottom
          shift: [topRightXShiftSkeleton,thumbTopYShiftSkeleton]
        - ref: thumbfan_far_home
          shift: [thumbFarTopXShiftSkeleton,thumbFarTopYShiftSkeleton]
        - ref: thumbfan_far_home
          shift: [thumbFarBottomXShiftSkeleton,thumbFarBottomYShiftSkeleton]
        - ref: thumbfan_thumb1_home
          shift: [thumbNearXShiftSkeleton,thumbNearYShiftSkeleton]
        - ref: thumbfan_thumb1_home
          shift: [centerCornerBottomXShiftSkeleton,centerCornerBottomYShiftSkeleton]
        - ref: thumbfan_thumb1_home
          shift: [centerCornerBottomXShiftSkeleton, centerCornerTopYShiftSkeleton]
        - ref: matrix_outer_bottom
          shift: [bottomLeftXShiftSkeleton,bottomLeftYShiftSkeleton]
  wallHalfmm:
    - what: polygon
      operation: stack
      fillet: filletSize
      points:
        - ref: matrix_outer_top
          shift: [topLeftXShiftSkeleton-halfMM,topLeftYShiftSkeleton+halfMM]
        - ref: matrix_pinky_top
          shift: [pinkyCornerXShiftSkeleton-halfMM, pinkyCornerYShiftSkeleton+halfMM]
        - ref: matrix_ring_top
          shift: [ringOuterCornerXShiftSkeleton-halfMM,ringOuterCornerYShiftSkeleton+halfMM]
        - ref: matrix_ring_top
          shift: [ringInnerCornerXShiftSkeleton-halfMM,ringInnerCornerYShiftSkeleton+halfMM]
        - ref: matrix_middle_top
          shift: [middleOuterCornerXShiftSkeleton-halfMM,middleOuterCornerYShfit+halfMM]
        - ref: matrix_middle_top
          shift: [middleInnerCornerXShiftSkeleton+halfMM,middleInnerCornerXShiftSkeleton+halfMM]
        - ref: matrix_index_top
          shift: [indexInnerCornerXShiftSkeleton+halfMM,indexInnerCornerYShfit+halfMM]
        - ref: matrix_inner_top
          shift: [topRightXShiftSkeleton+halfMM,topRightYShiftSkeleton+halfMM]
        - ref: matrix_inner_bottom
          shift: [topRightXShiftSkeleton+halfMM,thumbTopYShiftSkeleton]
        - ref: thumbfan_far_home
          shift: [thumbFarTopXShiftSkeleton+halfMM,thumbFarTopYShiftSkeleton+halfMM]
        - ref: thumbfan_far_home
          shift: [thumbFarBottomXShiftSkeleton+halfMM,thumbFarBottomYShiftSkeleton-halfMM]
        - ref: thumbfan_thumb1_home
          shift: [thumbNearXShiftSkeleton-halfMM,thumbNearYShiftSkeleton-halfMM]
        - ref: thumbfan_thumb1_home
          shift: [centerCornerBottomXShiftSkeleton-halfMM,centerCornerBottomYShiftSkeleton-halfMM]
        - ref: thumbfan_thumb1_home
          shift: [centerCornerBottomXShiftSkeleton-halfMM, centerCornerTopYShiftSkeleton-halfMM]
        - ref: matrix_outer_bottom
          shift: [bottomLeftXShiftSkeleton-halfMM,bottomLeftYShiftSkeleton-halfMM]
  wall3mm:
    - what: polygon
      operation: stack
      fillet: filletSize
      points:
        - ref: matrix_outer_top
          shift: [topLeftXShiftSkeleton-threeMM,topLeftYShiftSkeleton+threeMM]
        - ref: matrix_pinky_top
          shift: [pinkyCornerXShiftSkeleton-threeMM, pinkyCornerYShiftSkeleton+threeMM]
        - ref: matrix_ring_top
          shift: [ringOuterCornerXShiftSkeleton-threeMM,ringOuterCornerYShiftSkeleton+threeMM]
        - ref: matrix_ring_top
          shift: [ringInnerCornerXShiftSkeleton-threeMM,ringInnerCornerYShiftSkeleton+threeMM]
        - ref: matrix_middle_top
          shift: [middleOuterCornerXShiftSkeleton-threeMM,middleOuterCornerYShfit+threeMM]
        - ref: matrix_middle_top
          shift: [middleInnerCornerXShiftSkeleton+threeMM,middleInnerCornerXShiftSkeleton+threeMM]
        - ref: matrix_index_top
          shift: [indexInnerCornerXShiftSkeleton+threeMM,indexInnerCornerYShfit+threeMM]
        - ref: matrix_inner_top
          shift: [topRightXShiftSkeleton+threeMM,topRightYShiftSkeleton+threeMM]
        - ref: matrix_inner_bottom
          shift: [topRightXShiftSkeleton+threeMM,thumbTopYShiftSkeleton]
        - ref: thumbfan_far_home
          shift: [thumbFarTopXShiftSkeleton+threeMM,thumbFarTopYShiftSkeleton+2]
        - ref: thumbfan_far_home
          shift: [thumbFarBottomXShiftSkeleton+threeMM,thumbFarBottomYShiftSkeleton-threeMM]
        - ref: thumbfan_thumb1_home
          shift: [thumbNearXShiftSkeleton-threeMM,thumbNearYShiftSkeleton-threeMM]
        - ref: thumbfan_thumb1_home
          shift: [centerCornerBottomXShiftSkeleton-threeMM,centerCornerBottomYShiftSkeleton-threeMM]
        - ref: thumbfan_thumb1_home
          shift: [centerCornerBottomXShiftSkeleton-threeMM, centerCornerTopYShiftSkeleton-threeMM]
        - ref: matrix_outer_bottom
          shift: [bottomLeftXShiftSkeleton-threeMM,bottomLeftYShiftSkeleton-threeMM]
  lowerRidge:
    - what: polygon
      operation: stack
      fillet: filletSize
      points:
        - ref: matrix_outer_top
          shift: [topLeftXShiftSkeleton+threeMM,topLeftYShiftSkeleton-threeMM]
        - ref: matrix_pinky_top
          shift: [pinkyCornerXShiftSkeleton+threeMM, pinkyCornerYShiftSkeleton-threeMM]
        - ref: matrix_ring_top
          shift: [ringOuterCornerXShiftSkeleton+threeMM,ringOuterCornerYShiftSkeleton-threeMM]
        - ref: matrix_ring_top
          shift: [ringInnerCornerXShiftSkeleton+threeMM,ringInnerCornerYShiftSkeleton-threeMM]
        - ref: matrix_middle_top
          shift: [middleOuterCornerXShiftSkeleton+threeMM,middleOuterCornerYShfit-threeMM]
        - ref: matrix_middle_top
          shift: [middleInnerCornerXShiftSkeleton-threeMM,middleInnerCornerXShiftSkeleton-threeMM]
        - ref: matrix_index_top
          shift: [indexInnerCornerXShiftSkeleton-threeMM,indexInnerCornerYShfit-threeMM]
        - ref: matrix_inner_top
          shift: [topRightXShiftSkeleton-threeMM,topRightYShiftSkeleton-threeMM]
        - ref: matrix_inner_bottom
          shift: [topRightXShiftSkeleton-threeMM,thumbTopYShiftSkeleton-threeMM]
        - ref: thumbfan_far_home
          shift: [thumbFarTopXShiftSkeleton-threeMM,thumbFarTopYShiftSkeleton-2]
        - ref: thumbfan_far_home
          shift: [thumbFarBottomXShiftSkeleton-threeMM,thumbFarBottomYShiftSkeleton+threeMM]
        - ref: thumbfan_thumb1_home
          shift: [thumbNearXShiftSkeleton+threeMM,thumbNearYShiftSkeleton+threeMM]
        - ref: thumbfan_thumb1_home
          shift: [centerCornerBottomXShiftSkeleton+threeMM,centerCornerBottomYShiftSkeleton+threeMM]
        - ref: thumbfan_thumb1_home
          shift: [centerCornerBottomXShiftSkeleton+threeMM, centerCornerTopYShiftSkeleton+threeMM]
        - ref: matrix_outer_bottom
          shift: [bottomLeftXShiftSkeleton+threeMM,bottomLeftYShiftSkeleton+threeMM]
  screws:
    - what: circle
      radius: screwSize
      where:  
        ref: matrix_outer_top
        shift: [topLeftXShiftSkeleton+screwOffset,topLeftYShiftSkeleton-screwOffset]
    - what: circle
      radius: screwSize
      where:
          ref: matrix_inner_top
          shift: [topRightXShiftSkeleton-screwOffset,topRightYShiftSkeleton-screwOffset]
    - what: circle
      # TODO: revisit this location
      radius: screwSize
      where:
        ref: thumbfan_far_home
        shift:  [0,ky]
    - what: circle
      # TODO: revisit this location
      radius: screwSize
      where:
        ref: matrix_middle_bottom
        shift: [screwOffset,centerCornerTopYShiftSkeleton-screwOffset]
    - what: circle
      radius: screwSize
      where:
        ref: matrix_outer_bottom
        shift: [bottomLeftXShiftSkeleton+screwOffset,bottomLeftYShiftSkeleton+screwOffset]
  niceNano:
    - what: rectangle
      size: [18.3,34.1]
      where:
        ref: matrix_inner_home
        shift: [20,10]
  overview:
    [board, -keys, -screws, -niceNano]
  caseOutline:
    [wall3mm, -board]
  lowerRidgeOutline:
    [wall3mm, -wallHalfmm]
 
pcbs:
  flippable_pcb:
    template: kicad8
    outlines:
      - outline: board
    footprints:
      ks33:
        what: ceoloide/switch_gateron_ks27_ks33
        where: true
        params:
          include_keycap: true
          include_corner_marks: true
          reversible: true
          hotswap: false
          solder: true
          from: "{{colrow}}"
          to: "{{column_net}}"
      mcu:
        what: ceoloide/mcu_nice_nano
        where:
          ref: matrix_inner_home
          shift: [20,12]
        params:
          reversible: true
      diode:
        what: ceoloide/diode_tht_sod123
        where: true
        params:
          reversible: true
          from: "{{colrow}}"
          to: "{{row_net}}"
        adjust:
          shift: [-8, 0]
          rotate: 90
      leds:
        what: ceoloide/led_sk6812mini-e
        where: true
        adjust:
          shift: [0, 5]
        params:
          reversible: true
          reverse_mount: true
          include_traces_vias: true
          P1: VCC
          P2: "{{key.led_next}}" #DOUT
          P3: GND
          P4: "{{key.led_prev}}" #DIN
      # reset:
      #   what: ceoloide/reset_switch_tht_top
      #   where:
      #     ref: matrix_inner_bottom
      #     shift: [kx,0.8ky]
      #   params:
      #     from: RST
      #     to: GND
      # batteryConnector:
      #   what: jstph
      #   where:
      #     ref: matrix_inner_bottom
      #     shift: [1.45kx,0.5kx]
      #   params:
      #     pos: RAW
      #     neg: GND
cases:
    baseBoard:
      - what: outline
        name: board
        extrude: 6
        shift: [-120,100,2]
    wall3mm:
      - what: outline
        name: wall3mm
        extrude: 8
        shift: [-120,100,0]
    wallHalfmm:
      - what: outline
        name: wallHalfmm
        extrude: 3
        shift: [-120,100,5]
    lowerRidge:
      - what: outline
        name: lowerRidge
        extrude: 3
        shift: [-120,100,2]
    switches:
      - what: outline
        name: switches
        shift: [-120,100,0]
        extrude: 2
    finalCase:
      - what: case
        name: wall3mm
      - what: case
        name: wallHalfmm
        operation: subtract
      - what: case
        name: lowerRidge
        operation: subtract
    testplate:
      - what: case
        name: wall3mm
      - what: case
        name: baseBoard
        operation: subtract
      - what: case
        name: switches
        operation: subtract
